.head{
    height: "150";
    width: "150";
    background-size: 'cover';
    background-repeat: 'no-repeat';
}

.middle{
    height: "150";
    width: "150";
    background-size: 'cover';
    background-repeat: 'no-repeat';
}

.botton{
    height: "150";
    width: "150";
    background-size: 'cover';
    background-repeat: 'no-repeat';
}